@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

html{
  background-image: linear-gradient(gray, darkgray);
  background-size: 100%, 100%;
  background-attachment: fixed;

}
body{
  color:white;
  margin: auto;
  font-family: 'Share Tech Mono', monospace;
}
cursor{
  color:red;
}
#main{
  display: flex;
  flex-direction: column;
}
a {
  color: yellowgreen;
}
#frame{
  background-image: url('screen.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width:900px;
  height:900px;
  margin: auto;
}
#window{
  margin-left:150px;
  margin-top: 115px;
  overflow: auto;
  height: 500px;
  width: 625px;
  color: white;

}

#buttons{
  flex:1;
  margin: auto;
}
#button{
  margin: 10px;
  border-radius: 50%;
  font-family: 'Share Tech Mono', monospace;

}
