@import "tailwindcss";
@plugin "daisyui";

.main-box{
    background-color: black;
    border: double 7px /* total added thickness of lines and gap between */ white;
    margin: 10px;

}
.link{
  color:#c030ab;
}

html { 
font-family: "Lucida Console", "Courier New", monospace;
background-color: black;
color: white
}