    @font-face {
        font-family: myFirstFont;
        src: url(munro.woff);
    }

    body {
        background-color: salmon;
        font-family: myFirstFont;
    }

    #content {
        border: 7px solid black;
        background-color: white;
        margin: auto;
        padding: 10px;
        width: 95%;
        overflow: hidden;
        display: none;
        text-align: center;
    }

    #canvas {
        border: 7px solid black;
        float: left;
        margin: auto;
    }

    #menu {
        float: left;
        width: 30%;
        margin: auto;
        text-align: center;
        padding: 10px;
        margin-left: 10%;
    }

    #items {
        float: left;
        margin: auto;
        text-align: center;
        border: 7px solid black;
        background-color: azure;
    }

    #end {
        display: none;
    }

    button {
        margin: 10px;
        border: 7px solid black;
        background-color: azure;
        font-family: myFirstFont;
        font-size: 50px;
    }

    button:hover {
        background-color: LightSteelBlue;
    }

    img {
        padding: 5px;
        width: 75px;
    }

    .sticker {
        width: 30px;
    }

    #title {
        text-align: center;
        width: 1000px;
        margin: auto;
    }