body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}

.w3-bar,h1,button {font-family: "Montserrat", sans-serif}

.fa-anchor,.fa-coffee {font-size:200px}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

#photo{

  padding: 20px;
}
a {
    color: gray;
    text-decoration: none;

}

a:hover, a:active {
    color: red;
}

#foot{

  background: url("images/elf.png") no-repeat center;

}
